<mat-tab-group>
  <mat-tab label="Task One">
    <ng-template matTabContent>
      <app-task-one></app-task-one>
    </ng-template>
  </mat-tab>
  <mat-tab label="Task Two">
    <ng-template matTabContent>
      <app-task-two></app-task-two>
    </ng-template>
  </mat-tab>
  <mat-tab label="Task Three">
    <ng-template matTabContent>
      <app-task-three></app-task-three>
    </ng-template>
  </mat-tab>
  <mat-tab label="Task Four">
    <ng-template matTabContent>
      <app-task-four></app-task-four>
    </ng-template>
  </mat-tab>
  <mat-tab label="Task Four v2">
    <ng-template matTabContent>
      <app-task-four-v2></app-task-four-v2>
    </ng-template>
  </mat-tab>
</mat-tab-group>

