<mat-radio-group class="radio-group" (change)="changePeriod($event)">
  <mat-radio-button class="radio-button" *ngFor="let period of periods" [value]="period">
    {{ period | date: 'dd/MM/yyyy' }}
  </mat-radio-button>
</mat-radio-group>

  <mat-expansion-panel expanded disabled>
    <mat-expansion-panel-header (click)="toggleActive()" style="color: black">
      <mat-panel-title>
        Active
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-task-four-table
      [data]="activeData"
      [totalsData]="activeTotal"
      [showData]="showActive">
    </app-task-four-table>
  </mat-expansion-panel>

  <mat-expansion-panel expanded disabled>
    <mat-expansion-panel-header (click)="toggleSold()" style="color: black">
      <mat-panel-title>
        Sold
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-task-four-table
      [data]="soldData"
      [totalsData]="soldTotal"
    [showData]="showSold">
    </app-task-four-table>
  </mat-expansion-panel>

  <mat-expansion-panel expanded disabled>
    <mat-expansion-panel-header (click)="toggleWriteoff()" style="color: black">
      <mat-panel-title>
        WriteOffData
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-task-four-table
      [data]="writeoffData"
      [totalsData]="writeoffTotal"
    [showData]="showWriteoff">
    </app-task-four-table>
  </mat-expansion-panel>

<mat-expansion-panel expanded disabled>
  <mat-expansion-panel-header style="color: black">
    <mat-panel-title>
      Total
    </mat-panel-title>
  </mat-expansion-panel-header>

  <app-task-four-table
    [data]=""
    [totalsData]="allTotal"
    [showData]="false">
  </app-task-four-table>
</mat-expansion-panel>

