<div class="mat-table mat-elevation-z8">

  <table class="table-header">
    <tr>
      <th id="periods"><ngx-select-dropdown (change)="changePeriod($event)" [options]="periods"></ngx-select-dropdown></th>
      <th class="column" id="company">Company</th>
      <th class="column">FMV</th>
      <th class="column">Cost</th>
      <th class="column">Gain</th>
      <th class="column">GIRR</th>
      <th class="column">Holding</th>
      <th class="column">GMultiple</th>
      <th class="column">Total Raised</th>
      <th class="column">Company Valuation</th>
      <th class="column" id="date">Investment Date</th>
    </tr>
  </table>

  <mat-expansion-panel expanded disabled id="activeExpan">
    <mat-expansion-panel-header (click)="toggleActive()" style="color: black">
      <mat-panel-title>
        Active
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-task-four-table
      [data]="activeData"
      [totalsData]="activeTotal"
      [showData]="showActive">
    </app-task-four-table>
  </mat-expansion-panel>

  <mat-expansion-panel expanded disabled>
    <mat-expansion-panel-header (click)="toggleSold()" style="color: black">
      <mat-panel-title>
        Sold
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-task-four-table
      [data]="soldData"
      [totalsData]="soldTotal"
      [showData]="showSold">
    </app-task-four-table>
  </mat-expansion-panel>

  <mat-expansion-panel expanded disabled>
    <mat-expansion-panel-header (click)="toggleWriteoff()" style="color: black">
      <mat-panel-title>
        WriteOffData
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-task-four-table
      [data]="writeoffData"
      [totalsData]="writeoffTotal"
      [showData]="showWriteoff">
    </app-task-four-table>
  </mat-expansion-panel>

  <mat-expansion-panel expanded disabled>
    <mat-expansion-panel-header style="color: black">
      <mat-panel-title>
        Total
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-task-four-table
      [data]=""
      [totalsData]="allTotal"
      [showData]="false">
    </app-task-four-table>
  </mat-expansion-panel>
</div>
