<div class="mat-elevation-z8">

  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Company Column -->
    <ng-container matColumnDef="Company" class="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell *matCellDef="let row">{{row.company}}</td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <!-- FMV Column -->
    <ng-container matColumnDef="FMV" class="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FMV(M)</th>
      <td mat-cell *matCellDef="let row">{{row.FMV/1000000 | number:'1.2-2' | currency: 'USD'}}</td>
      <td mat-footer-cell *matFooterCellDef> {{totalsData.totalFMV/1000000 | number:'1.2-2' | currency: 'USD'}} </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="InvestmentDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Investment Date</th>
      <td mat-cell *matCellDef="let row">{{row.investmentDate | date:'MMMM yyyy'}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="Cost" class="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost(M)</th>
      <td mat-cell *matCellDef="let row">{{row.cost/1000000 | number:'1.2-2' | currency: 'USD'}}</td>
      <td mat-footer-cell *matFooterCellDef> {{totalsData.totalCost/1000000 | number:'1.2-2' | currency: 'USD'}} </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="Gain" class="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gain(M)</th>
      <td mat-cell *matCellDef="let row">{{row.gain/1000000 | number:'1.2-2' | currency: 'USD'}}</td>
      <td mat-footer-cell *matFooterCellDef> {{totalsData.totalGain/1000000 | number:'1.2-2' | currency: 'USD'}} </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="GMultiple">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GMultiple</th>
      <td mat-cell *matCellDef="let row">{{row.GMultiple | number: '1.2-2'}}</td>
      <td mat-footer-cell *matFooterCellDef> {{totalsData.totalGMultiple | number: '1.2-2'}} </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="GIRR" class="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GIRR</th>
      <td mat-cell *matCellDef="let row">{{row.GIRR}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="Holding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Holding(%)</th>
      <td mat-cell *matCellDef="let row">{{row.holding | percent}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="Total Raised">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TotalRaised(M)</th>
      <td mat-cell *matCellDef="let row">{{row.totalRaised/1000000 | number:'1.2-2' | currency: 'USD'}}</td>
      <td mat-footer-cell *matFooterCellDef> {{totalsData.totalRaised/1000000 | number:'1.2-2' | currency: 'USD'}} </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="Company Valuation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Valuation(M)</th>
      <td mat-cell *matCellDef="let row">{{row.compValuation/1000000 | number:'1.2-2' | currency: 'USD'}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
